* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Inter", sans-serif; */
}

body {
  font-family: "Inter", sans-serif;
  background: #2b2a2a;
  color: #f2f2f2;
  min-height: 100vh;
}

button {
  cursor: pointer;
}
.Ad-h3 {
  color: black;
  font-size: 18px;
}
